*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	color: #F0F3BD;
}

html{
	scroll-behavior: smooth;
}

.btn a{
	text-decoration: none;
	color: #02C39A;
}

#port-jumbo{
	border: 8px double #02C39A;
	padding: 8em 4em;
	border-radius: 70px;
	width: 60%;
	background-image: url(../images/cub-bg.gif);
	background-repeat: no-repeat;
	background-position: fixed;
	background-size: cover;
}

#jumbo-div{
	height: 100vh;
	padding-top: 10%;
	background-color: #05668D;
	border-radius: 0;
	/*margin-bottom: 0.5em;*/
}

.jumbotron h1{
	/*color: #f2f2f2;*/
	font-family: 'Roboto', sans-serif;
}


#navbar{
	background-color: #00A896;
}

#navbar-nav > .navbar-nav > li > .nav-link{
	color: #F0F3BD;

}

li a:hover:not(.active) {
  background-color: #05668D;
}

.active {
  background-color: #4CAF50;
}

#avatar-img{
	border-radius: 50%;
	border: 3px ridge gray;
	width: 25%;
	height: 20%;
	/*margin-bottom: 2em;*/

}

.card{
	background-color: #028090;
	text-align: center;
	border-radius: 5%;
}

#portfolio-btn{
	color: #F0F3BD;
}


.card-body{
	background-color: #00A896;
}

body{
	background-color: #05668D;
}

.display-3{
	margin-top: 2em;
	background-color: #02C39A;
}

footer{
	margin-top: 7em;
	background-color: #00A896;
}

#carousel-home{
	height: 100vh;
}

#carousel-home img{
	height: 90vh;
}

/*media queries*/
/*mobile*/
@media only screen and (max-width: 400px){
	#jumbo-div{
		height: 100%;
	}

	#port-jumbo{
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em; 
	}

	.jumbotron h1{
		font-size: 20px;
	}

	.lead{
		font-size: 15px;
	}
}

/*tablet*/
@media only screen and (max-width: 401px) and (max-width: 960px){
	
}

/*desktop*/
@media only screen and (min-width: 961px){

}